.mainProductContainer {
  text-align: center;
  display: flex;
  justify-content: center;
}

.filterComponent {
  margin-top: 10px;
  margin-left: 20px;
}
.allComponent span {
  position: absolute;
}
.hello {
  margin-top: 21px;
  margin-left: 17px;
  margin-bottom: 25px;
}
.filterButton {
  width: 150px;
  height: 60px;
  color: black;
  background-color: transparent;
  border: none;
  box-shadow: 10px 9px 13px antiquewhite;
}
.filterButtonActive {
  background-color: #98be2b !important;
  width: 150px;
  height: 60px;
  color: black;
  border: none;
  box-shadow: 10px 9px 13px antiquewhite;
}

.filterProducts {
  margin-top: 50px;
}
.headingUnderLine {
  width: 100px;
  border-bottom: 5px solid #43b028;
  font-weight: 800;
}

.card-container {
  width: 230px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 15px -5px;
  transition: ease-in;
  margin-left: 30px;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
.image-container img {
  overflow: hidden;
  height: 200px;
  width: 240px;
}
.addTocart {
  border: none;
  background-color: #43b028;
  border-radius: 10px;
  width: 200px;
}
.likeLogo1 {
  position: absolute;
  margin-left: 17px;
  margin-top: 12px;
}
.likeLogo2 {
  position: absolute;
  margin-left: 200px;
  margin-top: 12px;
}
.card-title {
  margin-left: 5px;
}
.card-body {
  margin-left: 5px;
}
.hero {
  display: flex;
}
.addToCart {
  border-radius: 30%;
}
