.mainContainer {
  background-image: url("../../Assets/Img/bgg.jpg");
  /* background-image: url("../../Assets/Img/market-fruits-veg.jpg"); */
  /* background-color: aqua; */
  background-repeat: no-repeat;
  background-size: 100%;
}
.bredcrum {
  padding: 15px;
}
.dashboardLogoContainer {
  width: 100%;
  text-align: center;
}
.imgLogo {
  width: 150px;
  border-radius: 50%;
}
.rating {
  justify-content: center;
}
.norating {
  margin-left: 10px;
}
.moreInfoBtn {
  margin-bottom: 1rem;
}
.commonBtn {
  width: 100px;
  border-radius: 20px;
  background-color: transparent;
  margin-left: 10px;
}
.searchBar {
  width: 350px !important;
}
.mainInput {
  display: flex;
  justify-content: center;
}
.dashboardInput {
  border-radius: 61px 0px 0px 60px !important;
}
.inputBtn {
  border-radius: 0px 61px 60px 0px !important;
  background-color: #43b028 !important;
}
