.rightSideNavigator {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}
.addressInput {
  position: relative;
}
.input-field {
  width: 115%;
  text-align: center;
  border-radius: 25px;
  border: none;
  padding: 10px;
  margin: 1px;
}
.input-icons span {
  position: absolute;
  margin: 12px;
  color: green;
}

.input-icons {
  width: 250px;
}
.deliveryDropDown {
  width: 175px;
  color: green;
}
.shopBtn {
  border: none;
  width: 100px;
  background-color: transparent;
}
.iconColor {
  color: green;
}
.notificationBtn {
  border: none;
  background-color: transparent;
}
.notificationIcon {
  height: 25px;
  color: green;
}
