.mainFooter {
  background-color: #16161a;
}
.footerDivision {
  margin-top: 10px;
  color: aliceblue;
  justify-content: space-between;
  width: 70%;
}
.emoji {
  margin-left: 15px;
}
.mainFooterContainer {
  display: flex;
  justify-content: center;
}
