.bredCrum {
  margin-bottom: 25px;
  margin-top: 15px;
}
.bread {
  text-decoration: none;
  color: #333;
}
.imageSize {
  width: 40rem;
  border-radius: 10px;
}
.imageContainer {
  margin-right: 60px;
}
.hero {
  margin-bottom: 25px;
}
.quantityInput {
  width: 25px;
  border-right: none;
  border-left: none;
  border-color: blue;
  text-align: center;
}
.quantityMinus:hover {
  color: #fff !important;
  text-decoration: none;
}
.quantityMinus {
  border-radius: 20px 0px 0px 20px;
  background-color: transparent;
  border-right: none;
  color: black;
}
.quantityPlus {
  border-radius: 0px 20px 20px 0px;
  border-left: none;
  background-color: transparent;
  color: black;
}
.addTocart {
  background-color: #43b028;
  border-radius: 20px;
  margin-left: 0px;
}
.status {
  margin-left: 30px;
}
.category {
  margin-top: 15px;
}
